
Pactera_test_MT/Pactera_test_MT.xcodeproj/project.xcworkspace/xcuserdata/miteshtrivedi.xcuserdatad/UserInterfaceState.xcuserstate

Pactera_test_MT/Pactera_test_MT.xcodeproj/xcuserdata/miteshtrivedi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Pactera_test_MT/Pactera_test_MT.xcodeproj/xcuserdata/miteshtrivedi.xcuserdatad/xcschemes/Pactera_test_MT.xcscheme

Pactera_test_MT/Pactera_test_MT.xcodeproj/xcuserdata/miteshtrivedi.xcuserdatad/xcschemes/xcschememanagement.plist
